body {
  padding-top: 56px;
}

p {
  margin: auto; 
  padding: 2px;
}
header {
  padding: 100px 0 100px;
}

section {
  padding: 20px 0;
}

h6{
  color: darkslategrey;
  font-style:oblique;

}

/* Banner section */

.banner {
  background-size: cover;
  background-repeat: no-repeat;
}

.font-weight-normal {
  font-family: 'Source Sans Pro', sans-serif;
}


/* New code for flashcards*/
.flashcard {
  width: 100%;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  /*font-size:2vw;*/
  padding: 100px;
  background-color: #f5f5f5;
  color: #0275d8;

}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.carousel-inner > .item > img {
  margin: 0 auto;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  text-align: center;
  vertical-align: middle;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
  background-color: #f5f5f5;
  color: dodgerblue;
}

/* Style the back side */

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.question {
  line-height: 50px;
  font-size:2vw;
  padding: 100px;
  /*
  vertical-align: center;*/
}

.answer {
  line-height: 50 px;
  font-size:2vw;
  padding: 100px;
  /*
  vertical-align: center;
  padding:50px;
  */
}

/********TOOL TIP***************/

.dots {
  position: relative;
  /*display: inline-block;*/
}

.dots:hover {
  background-color:#e3ffe8;
}

/* This is the previous one in case we wanna revert
.dots {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: black;
}

.dots:hover {
  color: black;
  text-decoration: none;
}
*/

.three-col td {
  width: 33%
}

.two-col td {
  width: 50%
}

/*******Buttons :D*********/

.answerchoice {
  font-size: 16px;
  background-color: #f5f5f5;
  color: black;
  border: none;
  padding: 8px;
  cursor: pointer;
  width: 800px;
  text-align: left
}

button:hover {
  background-color: #ebebeb;
}

.dropdown-item {
  width: 200px;
}

/**********HOVER IMAGE************/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.foo {
  float: left;
  width: 100%;
  height: 100px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

/* Colors */

.blue {
  background: #1793cc;
}

.green {
  background: #0a9137;
}

.red {
  background: #aa0732;
}

.yellow {
  background: #ffdc17;
}

.brown {
  background: #640000;
}

.grey {
  background: #777777;
}

.white {
  background: #ffffff;
}

.black {
  background: #000000;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Quizzes */
.correctans {
  background-color: rgb(213, 255, 213);
}

.wrongans {
  background-color: rgb(255, 206, 206);
}
.incompleteans {
  background-color: rgb(219, 219, 219);
}


ul,ol {
  margin:0;
  padding:0 0 0 2em;
}