{% import random %}
{% extends "layout.html" %}

{% block title %}
    US History
{% endblock %}

{% block main %}

{% i = 0 %} 
{% for d in data %} 

    <h5> {{d.Question}} </h5> 

    {% answers = ["C1", "C2", "C3", "I1", "I2", "I3"] %}
    {% random.shuffle(array) %}
    {% for answer in answers %}
    {% if d.answer != "" %}
        <div>
            <button class = "answerchoice" id=i+answer>{{ d.answer }}</button>
            <div style="line-height:20%;"><br></div>
            <script>
                if (answer.substring(0, 1) == "C"){
                    document.getElementById(i+answer).onclick = function() {
                    document.getElementById(i+answer).style.backgroundColor = "#abebbd"; }}
                else {
                    document.getElementById(i+answer).onclick = function() {
                    document.getElementById(i+answer).style.backgroundColor = "#ffcfcf"; }}
            </script> 
        </div>
{% endblock %}